<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletJSPMVC</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>DBSERVER</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>DBSERVERPORT</param-name>
    <param-value>3306</param-value>
  </context-param>
  <context-param>
    <param-name>DBNAME</param-name>
    <param-value>dbservletjspmvc</param-value>
  </context-param>
  <context-param>
    <param-name>DBUSERNAME</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>DBPASSWORD</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>BASE_URL</param-name>
    <param-value>http://localhost:8080/ServletJSPMVC</param-value>
  </context-param>
  <listener>
    <description>Listener dengan scope Servlet Context</description>
    <listener-class>ac.id.stikompoltek.listener.ServContList</listener-class>
  </listener>
</web-app>